*{
    padding: 0;
    margin: 0;
}
body {
    background-color: black;
}
.container {
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    height: 100vh;
    color: #fff;
    font-size: 30px;
}

.time{
    background-color: orangered;
    padding: 20px 50px;
    border-radius: 0.8rem;
    margin: 50px 30px;
    font-size: 35px;
}
