/* div {
    height: 100px;
    width: 100px;
    background-color: aqua;
    color: black;
    border: 4px solid white;
} */

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}