*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.length-control {
    margin: 20px;
    font-size: 18px;
    color: #333;
}

#length {
    margin: 0 10px;
    cursor: pointer;
}

.options{
    display: flex;
    flex-direction: column;
}

button{
    font-size: 20px;
    padding: 10px 20px;
    margin: 30px;
    border-radius: 1.5rem;
    background-color: blue;
    color: white;
}

button:hover{
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.4);
}

.output-copy{
    display: none;
    flex-direction: column;
    align-items: center;
}