*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.count {
    font-size: 60px;
}
.btns button{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    margin: 20px 30px;
    border-radius: 1.5rem;
}

.work{
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset {
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover{
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.4);
    opacity: 75%;
}

#minus-btn:hover , #reset-btn:hover{
    background-color: red;
    color: white;
    border: 2px solid greenyellow;
}

#plus-btn:hover , #save-btn:hover{
    background-color: greenyellow;
    border: 2px solid red;
}

.saved-counts{
    font-size: 35px;
}